* {
	box-sizing: border-box;
}

h1 {
	color: black;  
} 


header {
	background-color: gray; 
	border: 1px solid black; 
	padding: 20px 30px; 
	height: 85px; 
} 


.navbar {
	position: absolute; 
	top: 20px;
	right: 0px;
}

.body-container {
	height: 1000px;  
	margin-top: 10px;
	width: 100%;
	border: 3px solid red;
}

.col-xs-12 {
	background-color: lightgray;  
	width: 95%;
	padding: 2px 5px 20px 5px; 
	margin: 45px auto 15px;  

}

.col-xs-12 h2 {
	font-weight: 700;   
	font-size: 20px;  
	text-align: center; 

} 

.col-xs-12 .text { 
	padding: 0 15px 20px 15px;

}

.menu-title div {
	font-weight: 700;   
	font-size: 30px;  
}

div.container-fluid {
	float: left;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;

	}
}




